.DS_Store
node_modules
*/node_modules
npm-debug.log
src/runner/*
target/*
.project
.idea
.classpath
*/*/*/shortcut.js
release/*
**/.sass-cache/*
.compass.pid
.sass-cache
bower_components
*.iml
*repl*
*out
*log
.lein*
resources/public/scripts/cljs/*
